body{
    background-color: #255CDA;
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;

}
section{
    background-color: #CA054D;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    margin: auto;


}
div#sel{
    margin-left: 70px;
    padding: 10px;
}
option{
    padding-top: 3px;
}
select#tab{
    font: normal 10pt Arial;
       
}

input#bts{
    font: normal 12pt Arial;
    font-weight: bold;
    height: 28px;
    color: black;
    border-radius: 8px;
   
}
input#num{
    font: normal 12pt Arial;
    height: 25px;
    width: 100px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}