@charset "UTF-8";

/*configuração para celular */

@media screen and (min-width: 300px) and (max-width: 480px){
    section{
        width: 227px;
        height:400px;
    }
}
/* configuração para tablet*/
@media screen and (min-width: 768px) and (max-width: 992px){

    section{
        width: 80vw;
        height: 280px;
    }

}
@media screen and (min-width: 992px){

    section{
        width: 500px;
        height:80vh ;
    }
}